{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}{% import 'macros.html' as macro %} {% block content %}
<div class='container-fluid'>
    {{ macro.displayBlogList(blog_list)}} {% for blog in blog_list %}
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <p>{{blog.name|upper}}</p>
                </a>
                <div class="col-md-10 col-sm-12">
                    <h3>{{blog.content}}</h3>
                    <p>{{blog.posted}}</p>
                    <p>{{blog.blogz}}</p>

                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    <div class="">

    </div>
    <div class="container">

        {% for com in comment %}
        <div class="card">
            <div class="row">
                <div class="card-body">
                    <ul>
                        <li class="card-text">{{com.comment}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}